ion-header {
    ion-toolbar {
        ion-title {
            padding: 0;
        }
    }
}
ion-content {
    .head_div {
        height: 40px;
        background-color: var(--div_back);
        padding-left: 16px;
        display: flex;
        align-items: center;
        margin-top: 10px;
        .head_lbl {
            font-size: 16px;
            color: var(--blue);
            font-family: "rubik_r";
            margin: 0;
        }
    }
    ion-item {
        --padding-start: 0;
        --inner-padding-end: 0;
        border-bottom: dashed;
        border-bottom-width: 1px;
        border-bottom-color: var(--silver);
        margin: 0px 16px;
        .st_lbl {
            font-size: 14px;
            color: var(--blue);
            font-family: "rubik_r";
            display: flex;
            align-items: center;
            ion-icon {
                margin-left: 7px;
                height: 17px;
                width: 17px;
            }
        }
        .num_lbl {
            font-size: 14px;
            color: var(--my_theme);
            white-space: normal;
            font-family: "rubik_r";
        }
    }
}