<ion-header class="ion-no-border">
    <ion-toolbar mode="md">

        <ion-buttons slot="end">
            <ion-back-button defaultHref="home" icon="chevron-back-outline" text="" mode="md"></ion-back-button>
        </ion-buttons>
        <ion-title>Thông báo</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
    <h3 class="main_lbl">Email</h3>

    <div class="data_div" (click)="updatePro()">
        <p class="info_lbl">Thông báo
            <ion-toggle class="ion-float-right" [checked]="noti == 1" mode="md"></ion-toggle>
        </p>
        <p class="deteail">Dịch vụ mới, đóng cửa các ngày lễ và những tin tức quan trọng từ Fuelvn</p>
    </div>
</ion-content>