<ion-header class="ion-no-border">
    <ion-toolbar mode="md">
        <ion-buttons slot="end">
            <ion-back-button defaultHref="home" icon="chevron-back-outline" text="" mode="md"></ion-back-button>
        </ion-buttons>
        <ion-title>Change Password</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <ion-item mode="md" lines="none">
        <ion-icon slot="start" src="../../../assets/image_icon/lc_ic.svg"></ion-icon>
        <ion-input type="password" [(ngModel)]="current" placeholder="Current Pass"></ion-input>
    </ion-item>
    <span class="err" *ngIf="err">{{err?.old_password}}</span>
    <ion-item mode="md" lines="none">
        <ion-icon slot="start" src="../../../assets/image_icon/lc_ic.svg"></ion-icon>
        <ion-input [(ngModel)]="new" type="password" placeholder="New Password"></ion-input>
    </ion-item>
    <span class="err" *ngIf="err">{{err?.password}}</span>
    <ion-item mode="md" lines="none">
        <ion-icon slot="start" src="../../../assets/image_icon/lc_ic.svg"></ion-icon>
        <ion-input [(ngModel)]="confirm" type="password" placeholder="Confirm Password"></ion-input>
    </ion-item>
    <span class="err" *ngIf="err">{{err?.password_confirmation}}</span>
</ion-content>

<ion-footer class="ion-no-border" (click)="changePass()" *ngIf="provider == 'LOCAL'">
    <ion-button expand="full" class="main_btn ion-text-capitalize">
        Save
    </ion-button>
</ion-footer>

<ion-footer class="ion-no-border" (click)="changePassmsg()" *ngIf="provider != 'LOCAL'">
    <ion-button expand="full" class="main_btn ion-text-capitalize">
        Save
    </ion-button>
</ion-footer>