<ion-content class="ion-padding-top">
  <ion-slides pager>
    <ion-slide>
      <p class="skip_lbl">Bỏ qua việc lặt vặt ở trạm xăng, dầu diesel hoặc ga
        </p>
      <div class="img_div">
        <img src="../../../assets/image/slide_one.png">
      </div>
      <p class="info_lbl">Nhận vận chuyển xăng, dầu diesel, gas
       ngay đến nơi của bạn.</p>

    </ion-slide>
    <ion-slide>
      <p class="skip_lbl">Đến với Fuelvn bất kỳ thời gian nào trong ngày</p>
      <div class="data_div ion-padding-horizontal">
        <div class="park_img">
          <img src="../../../assets/image/sl_on.png">
        </div>

        <div class="info_div">
          <h3 class="name">Bãi đổ xe</h3>
          <p class="detail_p">Xe của bạn trong bãi đổ rất nhiểu</p>
        </div>
      </div>
      <div class="data_div ion-padding-horizontal">
        <div class="park_img">
          <img src="../../../assets/image/sl_on_t.png">
        </div>

        <div class="info_div">
          <h3 class="name">Ghim</h3>
          <p class="detail_p">Vị trí của bạn trong ứng dựng</p>
        </div>
      </div>
      <div class="data_div ion-padding-horizontal">
        <div class="park_img">
          <img src="../../../assets/image/pop_so.png">
        </div>

        <div class="info_div">
          <h3 class="name">Pop</h3>
          <p class="detail_p">Cửa xăng, dầu diesel, ga của bạn</p>
        </div>
      </div>
      <p class="info_lbl">Chúng tôi sẽ không cần chìa khóa của bạn hoặc
        bất cứ điều gì đặc biệt.</p>
      <p class="info_lbl">Chỉ cần đảm bảo đậu ở nhiều mặt.</p>
    </ion-slide>
    <ion-slide>
      <p class="skip_lbl">Xăng, dầu diesel,<br>
        gas với giá cả cạnh tranh</p>
      <div class="data_div ion-padding-horizontal">
        <div class="park_img regular_img">
          <img src="../../../assets/image/speedometer.png">
        </div>
        <p class="regular_lbl">Chỉ số octan thông thường hoặc cao cấp</p>
      </div>
      <div class="data_div ion-padding-horizontal">
        <div class="park_img regular_img">
          <img src="../../../assets/image/fuel.png">
        </div>

        <p class="regular_lbl">Khí sạch hơn chưa bao giờ<br>
          lưu trữ dưới lòng đất</p>
      </div>
      <div class="data_div ion-padding-horizontal">
        <div class="park_img regular_img">
          <img src="../../../assets/image/doller_p.png">
        </div>

        <p class="regular_lbl">Chúng tôi thường đánh bại đối thủ về giá xăng, dầu, hoặc gas</p>
      </div>
      <p class="info_lbl get_lbl">Hãy bắt đầu</p>
    </ion-slide>
  </ion-slides>
  <ion-button class="skip ion-float-right ion-text-capitalize" (click)="home()">
    Bỏ qua
  </ion-button>
</ion-content>