<ion-content class="ion-padding-top">
  <ion-slides pager>
    <ion-slide>
      <p class="skip_lbl">Skip the petrol, diesel or gas
        station errand forever</p>
      <div class="img_div">
        <img src="../../../assets/image/slide_one.png">
      </div>
      <p class="info_lbl">Get petrol, diesel or gas
        delivery right to your parking.</p>

    </ion-slide>
    <ion-slide>
      <p class="skip_lbl">Use Lofuel any day<br> any time</p>
      <div class="data_div ion-padding-horizontal">
        <div class="park_img">
          <img src="../../../assets/image/sl_on.png">
        </div>

        <div class="info_div">
          <h3 class="name">Park</h3>
          <p class="detail_p">Your car in the lot</p>
        </div>
      </div>
      <div class="data_div ion-padding-horizontal">
        <div class="park_img">
          <img src="../../../assets/image/sl_on_t.png">
        </div>

        <div class="info_div">
          <h3 class="name">Pin</h3>
          <p class="detail_p">Your spot in the app</p>
        </div>
      </div>
      <div class="data_div ion-padding-horizontal">
        <div class="park_img">
          <img src="../../../assets/image/pop_so.png">
        </div>

        <div class="info_div">
          <h3 class="name">Pop</h3>
          <p class="detail_p">Your petrol, diesel, gas door</p>
        </div>
      </div>
      <p class="info_lbl">We won't need your keys or
        anything special.</p>
      <p class="info_lbl">Just make sure to park in a surface lot.</p>
    </ion-slide>
    <ion-slide>
      <p class="skip_lbl">Get high quality petrol, diesel<br>
        or gas at competitive prices</p>
      <div class="data_div ion-padding-horizontal">
        <div class="park_img regular_img">
          <img src="../../../assets/image/speedometer.png">
        </div>
        <p class="regular_lbl">Regular or premium octane</p>
      </div>
      <div class="data_div ion-padding-horizontal">
        <div class="park_img regular_img">
          <img src="../../../assets/image/fuel.png">
        </div>

        <p class="regular_lbl">Cleaner gas that's never<br>
          stored underground</p>
      </div>
      <div class="data_div ion-padding-horizontal">
        <div class="park_img regular_img">
          <img src="../../../assets/image/doller_p.png">
        </div>

        <p class="regular_lbl">We often beat nearby petrol,<br>
          diesel or gas station prices</p>
      </div>
      <p class="info_lbl get_lbl">Get Start</p>
    </ion-slide>
  </ion-slides>
  <ion-button class="skip ion-float-right ion-text-capitalize" (click)="home()">
    Skip
  </ion-button>
</ion-content>