<ion-header class="ion-no-border">
    <ion-toolbar mode="md">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="home" icon="chevron-back-outline" text="" mode="md"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="content-section ion-padding">
        <h2 class="title ion-text-center margin-top-32 margin-bottom-13">Phone Verification</h2>
        <p class="text ion-text-center">
            Enter your OTP code here
        </p>
        <div class="otp-input-div">
            <ion-input maxlength="1" type="tel" autofocus name="a" #a [(ngModel)]="otp.a" (keyup)="moveFocus($event, b, '') " [class.active]="otp.a">
            </ion-input>
            <ion-input #b name="b" [class.active]="otp.b" [(ngModel)]="otp.b" type="tel" maxlength="1" (keyup)="moveFocus($event, c, a)"></ion-input>
            <ion-input #c name="c" [class.active]="otp.c" [(ngModel)]="otp.c" type="tel" maxlength="1" (keyup)="moveFocus($event, d, b)"></ion-input>
            <ion-input #d name="d" [class.active]="otp.d" [(ngModel)]="otp.d" type="tel" maxlength="1" (keyup)="moveFocus($event, '', c)"></ion-input>
        </div>
        <p class="time">

        </p>
        <p class="did-not-received ">Didn’t you received any code?</p>
        <ion-button (click)="sendOtp()" class="btn-login ion-text-capitalize" mode="md" expand="full" shape="round" fill="solid">
            Verify OTP
        </ion-button>
    </div>
</ion-content>