<ion-header class="ion-no-border">
  <ion-toolbar mode="md">

    <ion-buttons slot="end">
      <ion-back-button defaultHref="home" icon="chevron-back-outline" text="" mode="md"></ion-back-button>
    </ion-buttons>
    <ion-title>Chính sách bảo mật</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="data_div">
    <p class="info_lbl">Thông tin liên hệ <ion-toggle class="ion-float-right" checked mode="md"></ion-toggle>
    </p>
    <p class="deteail">Fuelvn có thể giúp bạn giới thiệu đồng nghiệp và bạn bè nếu bạn
      cho phép chúng tôi đồng bộ hóa danh bạ của bạn. Xem Điều khoản Dịch vụ
      để biết thêm thông tin.</p>
  </div>
</ion-content>