<ion-header class="ion-no-border">
    <ion-toolbar mode="md">
        <ion-buttons slot="start">
            <ion-menu-button>
            </ion-menu-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-back-button defaultHref="home" icon="chevron-back-outline" text="" mode="md"></ion-back-button>
        </ion-buttons>
        <ion-title>setting</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <ion-item mode="md" lines="none" (click)="account()">
        <ion-icon src="../../../assets/image_icon/ac_ic.svg" slot="start">
        </ion-icon>
        <ion-label class="st_lbl">
            Account
        </ion-label>
    </ion-item>
    <ion-item mode="md" lines="none" (click)="changeLocation()">
        <ion-icon src="../../../assets/image_icon/lc_ic.svg" slot="start">
        </ion-icon>
        <ion-label class="st_lbl">
            Change Password
        </ion-label>
    </ion-item>
    <ion-item mode="md" lines="none" (click)="notification()">
        <ion-icon src="../../../assets/image_icon/nt_ic.svg" slot="start">
        </ion-icon>
        <ion-label class="st_lbl">
            Notification
        </ion-label>
    </ion-item>
    <ion-item mode="md" lines="none" (click)="policy()">
        <ion-icon src="../../../assets/image_icon/lc_ic.svg" slot="start">
        </ion-icon>
        <ion-label class="st_lbl">
            Privacy Policy
        </ion-label>
    </ion-item>
</ion-content>