ion-header {
  ion-toolbar {
    border-radius: none;
    box-shadow: none;
  }
  ion-back-button {
    color: var(--blue);
  }
}
ion-content {
  .content-section {
    .title {
      font-size: 30px;
      font-family: "rubik_md";
      color: var(--my_theme);
    }
    .text {
      font-size: 15px;
      font-family: "rubik_r";
      color: var(--gray);
      margin-bottom: 52px;
    }
    .time {
      text-align: center;
      font-size: 16px;
      font-family: "rubik_md";
      color: var(--blue);
      margin-top: 24px;
    }
    .did-not-received {
      text-align: center;
      font-size: 14px;
      font-family: "rubik_md";
      color: var(--blue);
      margin-top: 40px;
      margin-bottom: 0;
    }

    .btn-login {
      --color: var(--white);
      --background: var(--my_theme);
      --box-shadow: none;
      height: 44px;
      font-size: 16px;
      font-family: "rubik_md";
      margin-top: 40px;
    }
    .resend-btn {
      --color: var(--my_theme);
      font-size: 14px;
      font-family: "rubik_md";
      height: auto;
      width: auto;
      --padding-start: 0;
      --padding-end: 0;
      text-transform: inherit;
      margin: 0;
    }
  }
  .otp-input-div {
    display: flex;
    justify-content: space-around;
    ion-input {
      --padding-start: 0;
      --background: var(--div_back);
      --placeholder-color: var(--lht_blue);
      --placeholder-font-style: "rubik_r";
      min-height: 44px;
      min-width: 44px;
      max-width: 44px;
      max-height: 44px;
      border-radius: 22px;
      text-align: center;
      color: var(--lht_blue);
      font-size: 22px;
      font-family: "rubik_r";
      height: 48px;
      &.active {
        background: var(--my_theme);
        color: var(--white);
      }
    }
  }
}
