<ion-content class="ion-padding-top ion-padding-horizontal">
    <div class="logo_div">
        <img src="../../../assets/image/logo.png">
        <h3 class="logo_tittle">Fuelvn</h3>
        <p class="page_tittle">Nhiên liệu và khí gas luôn sẵn sàng ở mọi thời điểm</p>
        <p class="main_lbl">Đăng nhập</p>
    </div>
    <div class="data_div">
        <form #f="ngForm">
            <ion-item lines="none" class="data_item">
                <ion-label position="stacked" class="info_label" mode="ios">Email</ion-label>
                <ion-input required="true" type="text" class="data_input" [(ngModel)]="inputData.email" name="email" placeholder="Nhập email"></ion-input>
            </ion-item>
            <span class="err" *ngIf="err?.email">{{err?.email}}</span>
            <ion-item lines="none" class="data_item">
                <ion-label position="stacked" class="info_label" mode="ios">Mật khẩu</ion-label>
                <ion-input required="true" [type]="showPassword ? 'text' : 'password'" class="data_input" [(ngModel)]="inputData.password" name="password" placeholder="Nhập mật khẩu"></ion-input>
                <ion-button slot="end" fill="clear" class="transparent_btn password_btn" (click)="showPassword = !showPassword">
                    <ion-icon slot="icon-only" [name]="showPassword ?'eye' : 'eye-off'"></ion-icon>
                </ion-button>
            </ion-item>
            <span class="err" *ngIf="err?.password">{{err?.password}}</span>
        </form>
        <ion-row>
            <ion-col class="first_col">
                <ion-checkbox></ion-checkbox>
                <ion-label>
                    <h3 class="remember">Nhớ mật khẩu</h3>
                </ion-label>
            </ion-col>
            <ion-col class="ion-text-right">
                <ion-button class="forgot-btn ion-text-capitalize transparent_btn" (click)="forgotPassword()">Quên mật khẩu?
                </ion-button>
            </ion-col>
        </ion-row>

        <ion-button class="main_btn" mode="md" expand="full" shape="round" fill="solid" (click)="signIn()">
            Đăng nhập
        </ion-button>

        <div class="or">
            <h2 class="background">
                <span>Hoặc</span>
            </h2>
        </div>
        <div class="social_btn_div">
            <ion-button class="facbook social" (click)="facebookLogin()">
                <ion-icon src="../../../assets/image_icon/facebook_icon.svg"></ion-icon>
            </ion-button>

            <ion-button class="google social" (click)="googleLogin()">
                <ion-icon src="../../../assets/image_icon/google_plus.svg"></ion-icon>
            </ion-button>
            <!-- <ion-button class="twitter social">
                <ion-icon src="../../../assets/image_icon/twitter_icon.svg"></ion-icon>
            </ion-button> -->
        </div>
        <div class="signup_div">
            <span class="text">Bạn chưa có tài khoản?</span>
            <ion-button (click)="signup()" class="transparent_btn signup_btn">Đăng ký</ion-button>
        </div>
    </div>
</ion-content>