<ion-header class="ion-no-border">
    <ion-toolbar mode="md">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Lofuel</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content> 
    <agm-map [styles]="styles" [latitude]="latitude" [longitude]="longitude" [disableDefaultUI]="true">
        <agm-marker [latitude]="latitude" [longitude]="longitude" [iconUrl]="iconUrl"></agm-marker>
    </agm-map>
    <div class="location_div">
        <h3 class="loc_lbl">Delivery Location</h3>
        <div class="input_div">
            <ion-icon src="../../../assets/image_icon/location.svg"></ion-icon>
            <input autofocus="true" ngx-google-places-autocomplete value="{{address}}" #placesref="ngx-places" (onAddressChange)="handleAddressChange($event)">
        </div>
    </div>

    <div class="fule_type">
        <div class="fule" *ngFor="let item of data?.fuel_type" (click)="getData(item)" [class.active]="select == item.name">
            <img src="{{item?.imageUri}}" alt="" srcset="">
            <p class="fule_lbl">{{item?.name}}</p>
        </div>
    </div>
</ion-content>