ion-content {
    --background: url("../../../assets/image/LogIn.png") no-repeat center center / cover;
    .logo_div {
        text-align: center;
        img {
            height: 200px;
            width: 130px;
        }
        .logo_tittle {
            font-size: 40px;
            line-height: 32px;
            color: var(--white);
            font-family: "HornbillPersonalUse_b";
            margin-top: 0px;
        }
        .page_tittle {
            font-size: 15px;
            color: var(--white);
            font-family: "rubik_r";
            margin: 10px 0;
        }
        .main_lbl {
            font-size: 30px;
            margin-bottom: 20px;
            margin-top: 0;
            font-family: "rubik_md";
            color: var(--white);
        }
    }
    .err {
        color: var(--ion-color-primary);
        font-weight: normal;
        font-family: 'rubik_r';
        font-size: 13px;
    }
    .data_div {
        .data_item {
            margin-bottom: 4px;
            --background: transparent;
            --padding-start: 0px;
            --inner-padding-end: 0;
            border-bottom: 1px solid var(--white);
            .info_label {
                font-size: 18px;
                color: var(--white);
                font-family: "rubik_md";
                margin-top: 15px;
            }
            .data_input {
                --placeholder-color: var(--white);
                --placeholder-font-style: "nunito_r";
                --placeholder-opacity: 1;
                font-size: 16px;
                font-family: "rubik_r";
                color: var(--white);
            }
        }
        .sign_up {
            margin-top: 35px;
        }
        .signup_div {
            margin-top: 15px;
            display: flex;
            justify-content: center;
            align-items: center;
            .signup_btn {
                --color: var(--my_theme);
                font-size: 14px;
                font-family: "rubik_md";
                text-transform: capitalize;
                margin-left: 4px;
            }
            .text {
                font-size: 14px;
                font-family: "rubik_r";
                color: var(--white);
            }
        }
        .social_btn_div {
            margin-top: 20px;
            text-align: center;
            .twitter {
                --background: var(--twitter);
                --box-shadow: 0px 0px 6px 0px rgba(11, 170, 252, 1);
                ion-icon {
                    width: 14px;
                    height: 11px;
                }
            }
            .facbook {
                --background: var(--facebook);
                --box-shadow: 0px 0px 6px 0px rgba(70, 90, 149, 1);
                ion-icon {
                    width: 7px;
                    height: 13px;
                }
            }
            .google {
                --background: var(--google_plus);
                margin: 0px 20px;
                --box-shadow: 0px 0px 6px 0px rgba(246, 90, 91, 1);
                ion-icon {
                    width: 18px;
                    height: 12px;
                }
            }
            .social {
                height: 30px;
                --border-radius: 50%;
                width: 30px;
                --padding-start: 0px;
                --padding-end: 0px;
                --border-width: 2px;
                --border-style: solid;
                --border-color: var(--white);
            }
        }
    }
}

.password_btn {
    align-self: flex-end;
}