<ion-header class="ion-no-border">
    <ion-toolbar mode="md">
        <ion-buttons slot="start">
            <ion-menu-button>
            </ion-menu-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-back-button defaultHref="home" icon="chevron-back-outline" text="" mode="md"></ion-back-button>
        </ion-buttons>
        <ion-title>Thêm phương tiện</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <ion-item mode="md" lines="none">
        <ion-label class="st_lbl" mode="ios" position="stacked">
            Hãng
        </ion-label>
        <ion-select placeholder="Chọn hãng" (ionChange)="changeModel($event)">
            <ion-select-option *ngFor="let item of data" value="{{ item.id }}">{{ item.name }}</ion-select-option>
        </ion-select>
    </ion-item>

    <ion-item mode="md" lines="none">
        <ion-label class="st_lbl" mode="ios" position="stacked">
            Mẫu
        </ion-label>
        <ion-select placeholder="Chọn mẫu" [(ngModel)]="model_id" [disabled]="model_id2 == ''">
            <ion-select-option *ngFor="let items of model" [value]="items.id">{{ items.name }}</ion-select-option>
        </ion-select>
    </ion-item>

    <ion-item mode="md" lines="none">
        <ion-label class="st_lbl" mode="ios" position="stacked">
            Năm sản xuất
        </ion-label>
        <ion-input placeholder="Năm sản xuất" [(ngModel)]="models">
        </ion-input>
    </ion-item>
    <ion-item mode="md" lines="none">
        <ion-label class="st_lbl" mode="ios" position="stacked">
            Màu
        </ion-label>
        <ion-input placeholder="Màu" [(ngModel)]="color">
        </ion-input>
    </ion-item>
    <ion-item mode="md" lines="none">
        <ion-label class="st_lbl" mode="ios" position="stacked">
           Số hiệu
        </ion-label>
        <ion-input placeholder="Số hiệu" [(ngModel)]="reg_number">
        </ion-input>
    </ion-item>
    <ion-item mode="md" lines="none">
        <ion-label class="st_lbl" mode="ios" position="stacked">
            Ghi chú
        </ion-label>
        <ion-input placeholder="Thêm ghi chú" [(ngModel)]="note">
        </ion-input>
    </ion-item>
    <div class="upload_div" (click)="selectImage()">
        <div class="up_div" [hidden]="image != null">
            <h3 class="up_lbl">Thêm ảnh cho phương tiện</h3>
            <p class="touch_lbl">(bấm để thêm)</p>
        </div>
        <img src="{{image}}" [hidden]="image == null" class="user_img">
    </div>
</ion-content>
<ion-footer class="ion-no-border">
    <ion-button class="main_btn ion-text-capitalize" [disabled]="model_id == ''|| models == '' || 
    note == '' || color == '' || reg_number == '' ||
    model_id == ''" expand="full" (click)="manageVechicle()">
        Thêm
    </ion-button>
</ion-footer>